*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-image: url('../imgs/backgroudUPC.jpg');
}

header{
    padding: 30px;
    background-color: white;
    box-shadow: 0px 1px 5px 4px rgba(128, 128, 128, 0.486);
    overflow: hidden;
}

#logo{
    transition-duration: 0.5s;
    text-align: right;
    float: left;
    margin-top: 20px;
    width: 30%;
    padding-right: 2%;
}

#logo li a{
    background-position:right;
    background-color: white;
    background-size:contain;
    background-repeat: no-repeat;
    background-image: url('../imgs/iconoupc.png');
    border-radius: 5px;
    width: 100%;
    height: auto;
    padding: 40px 49px;
}

header nav ul{
    text-align: left;
    float: left;
    width: 70%;
}

header nav ul li{
    list-style: none;
    display: inline;
    margin-top: 20px;
}

header nav ul li a{
    text-align: center;
    text-decoration: none;
    color: #E9EB8A;
    background-color: #01631A;
    padding: 5px 15px;
    border-radius: 50px;
    margin: 0px 5px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.637);
    transition-duration: 0.5s;
    font-family: sans-serif;
    font-size: 20px;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.spaceDropdown{
    margin-top: 20px;
}

.dropdown-content{
    display: none;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.692);
}

.dropdown-content a{
    margin: 0px;
    padding: 10px 5px;
    display: block;
    border-radius: 0px;
    box-shadow: none;
}

footer{
    color: white;
    width: 100%;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.61);
    bottom: 10%;
    position: fixed;
}

#info{
    margin-left: 25%;
    margin-top: 40px;
    font-size: 20px;
    font-family: Arial;
}

#logoFooter{
    transition-duration: 0.5s;
    background-color: rgb(66, 66, 66);
    padding: 1.2% 0.4%;
    float: left;
    position: fixed;
    text-align: center;
    margin-left: 20%;
    border-radius: 0px 0px 50px 50px;
}